

.profile-card{
    width: 500px;
    height: 650px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
    display: grid;
    place-items: center;
    position: relative;
    background: url("/Image.jpg") no-repeat center/cover;
}

.info::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #abfff5;
    transform: skew(20deg) translateX(100%);
    opacity: 0.2;
    z-index: 0;
    transition: all 0.6s ease;
}

.info::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #abfff5;
    transform: skew(-20deg) translateX(90%);
    opacity: 0.6;
    z-index: 0;
    transition: all 0.6s ease;
}


.profile-card:hover .info::before{
    transform: skew(20deg) translateX(50%);
}

.profile-card:hover .info::after{
    transform: skew(-20deg) translateX(50%);
    opacity: 0.5;
}

.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #abfff5;
    transform: skew(20deg) translateX(100%);
    opacity: 0.6;
    z-index: 0;
    transition: all 0.6s ease;
}

.profile-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #abfff5;
    transform: skew(-20deg) translateX(85%);
    opacity: 0;
    z-index: 0;
    transition: all 0.6s ease;
}

.profile-card:hover::before{
    transform: skew(20deg) translateX(50%);
}

/*.profile-card:hover::after{
    transform: skew(-20deg) translateX(20%);
}*/

.profile-card{
    overflow: hidden;
}

.info h2{
    color: white;
    opacity: 0;
    transition: all 0.6s;
    font-size: 60px;

}
.info p{
    color: white;
    opacity: 0;
    transition: all 0.6s;
    font-size: 40px;

}
.profile-card:hover .info h2, 
.profile-card:hover .info p{
    opacity: 1;
    z-index: 1;
}